body {
  margin: 0;
  padding: 10px;
  font-family: 'Ubuntu', sans-serif;
  min-width: 650px;
}

@font-face {
  font-family: 'Ubuntu', sans-serif;
  src: url('fonts/Ubuntu-Regular.ttf');
}

#input-el {
  width: 360px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #0077b6;
  margin-bottom: 6px;
}

.note-txt {
  color: #0077b6;
}

button {
  background: #0077b6;
  color: white;
  padding: 10px 20px;
  border: 1px solid #0077b6;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #141b41;
}

button:active {
  background-color: #141b41;
  transform: translateY(4px);
}

.delete-btn {
  background: white;
  color: #0077b6;
  padding: 10px 20px;
  align-self: flex-end;
}

.delete-btn:hover {
  color: white;
  background: #0077b6;
}

.post-body {
  color: #141b41;
  display: flex;
}

.post-date {
  font-size: 14px;
  color: darkgrey;
  padding-right: 15px;
  width: 70px;
}

#ul-el {
  list-style: none;
  padding-left: 0;
}

.post {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fafafa;
  margin:  5px 0;
  padding: 10px;
  width: 600px;
}

a {
  color: #0077b6;
}

.footer {
  color: #141b41;
}

.mia {
  color: #b24c63;
}

.footer-img {
  height: 13px;
  text-align: center;
}
