body {
  margin: 0;
  padding: 10px;
  font-family: 'Ubuntu', sans-serif;
  min-width: 400px;
}

@font-face {
  font-family: 'Ubuntu', sans-serif;
  src: url('fonts/Ubuntu-Regular.ttf');
}

#input-el {
  width: 400px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #0077b6;
  margin-bottom: 6px;
}

.note-txt {
  color: #0077b6;
}

button {
  background: #0077b6;
  color: white;
  padding: 10px 20px;
  border: 1px solid #0077b6;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #141b41;
}

button:active {
  background-color: #141b41;
  transform: translateY(4px);
}

.delete-btn {
  background: white;
  color: #0077b6;
  padding: 6px 16px;
  float: right;
}

.delete-btn:hover {
  color: white;
  background: #0077b6;
}

.post-body {
  width: 600px;
  background-color: #fafafa;
  margin: 5px;
  padding: 6px;
  color: #141b41;
}

.post-date {
  font-size: 14px;
  color: darkgrey;
  float: right;
  width: 15%;
  float: inline-start;
}

.post-text {
  width: 80%;
}

ul {
  margin-top: 20px;
  list-style: none;
  padding-left: 0;
}

.post {
  display: flex;
  align-items: center;
  width: 650px;
}

a {
  color: #0077b6;
}

.footer {
  color: #141b41;
}

.mia {
  color: #b24c63;
}

.footer-img {
  height: 13px;
  text-align: center;
}


